.idea/
*.iml
data/
lib/
target/
output/
out/
src/main/java/edu/illinois/cs/cogcomp/temporal/explorations/
src/main/java/edu/illinois/cs/cogcomp/temporal/lbjava/
models/
logs/
scripts/
serialization/
serialized_data/
gurobi.ilp
gurobi.lp
annotation-cache
annotation-cache-test
